
@import './scss/color.scss';
@import './scss/global.scss';

//import Home Style 
@import '../../../containers/pages/home/landingPage.scss';

//import Header Style 
@import '../../../containers/layout/header/header.scss';

//import Search box Style 
@import '../../../shared/component/searchBox/searchBox.scss';

//import Spinner Style 
@import '../../../containers/pages/home/landingPage.scss';